[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invoke = "*"
mutagen = "*"
webvtt-py = "*"
"jinja2" = "*"
youtube-dl2 = "*"

[dev-packages]
ipython = "*"
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
